<form>
    <div>
        <label> user Name <input type="text" [value]="defaultUserName"/> </label>
    </div>
    <div>
        <label>Password <input type="password"/></label>
    </div>
    <div>
        <button class="btn-primary" type="button" (click)="login('asdfas')">LOGIN</button>
    </div>

</form>
<div>
    <button class="btn-primary" type="button" (click)="login('asdfas')">Info</button>
</div>
<div [ngClass]="{'error': success}" [hidden]="success">
    Login success
</div>

<div [ngClass]="{'error': success}">
    NG class
</div>
<div [ngStyle]="{'error': success}">
    NG STYLE
</div>
<div *ngFor="let data of myArray">
    <p> {{data.Name}}</p>
    <button (click)="getPopVALUE(data)">POP </button>
</div>

<!-- <input type="text" [(ngModel)]="name" /> -->
<button (click)="addData()">ADD </button>


<div *ngIf="!success">
    Contact FITA
</div>